/*selector de etiqueta*/
h1{
    color:red
}
h2{
    color:darkorange
}
/*selector de clase*/
.oscuro{
    background-color: blueviolet;
    color: aliceblue ;
}

    /* selector ID */
    #biografia{
        background-color: black;
        color: bisque;
}
#Frases{
    background-color: rgb(48, 46, 46);
    color: bisque;
}